---
# Run pre-commit autoupdate sometimes

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: [--maxkb=500000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: check-docstring-first

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: "0.9.28"
    hooks:
      - id: uv-lock
        name: check uv lock file consistency
        args: ["--locked"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "v0.45.0"
    hooks:
      - id: markdownlint
        args: ["-f"]
        stages: [pre-commit]

  #  - repo: https://github.com/mpalmer/action-validator
  #    rev: v0.5.1
  #    hooks:
  #      - id: action-validator

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
      - id: yamllint

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 39.264.0
    hooks:
      - id: renovate-config-validator
        args: [--strict]
